* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

main {
    grid-row: 2;
    grid-column: 1;
}

.hero-banner {
    width: 100%;
    max-height: 400px; /* Altura máxima do banner */
    overflow: hidden;
}

.hero-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Garante que a imagem cubra o espaço sem distorcer */
    display: block;
}

.card {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.bg-orange {
    background-color: orangered !important;
}

.navbar {
    background-color: #ff4d00;
}

.navbar-brand,
.nav-link {
    color: #fff !important;
}

.card img {
    height: 300px;
    width: 100%;
    object-fit: contain;
    padding: 10px;
}

footer {
    grid-row: 3;
    background-color: #222;
    color: #fff;
    padding: 20px;
    margin-top: 30px;
}

.login-body {
    background: linear-gradient(135deg, #ff4d00, #ff4d00);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login-container {
    background: #fff;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
    text-align: center;
    width: 100%;
    max-width: 450px;
    opacity: 0;
    transform: translateY(40px);
    animation: fadeSlideIn 0.8s ease forwards;
}

@keyframes fadeSlideIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.login-title {
    color: #ff4d00;
    margin-bottom: 1.5rem;
    font-size: 2rem;
    font-weight: 700;
}

.login-subtitle {
    color: #555;
    margin-bottom: 2rem;
    font-size: 1rem;
}

.login-form {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
}

.input-group {
    display: flex;
    gap: 1rem;
    width: 100%;
}

.login-form input {
    padding: 14px;
    background-color: #f0f0f0;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 1rem;
    transition: border-color 0.3s, box-shadow 0.3s, background-color 0.3s;
    margin-bottom: 20px;
}

.login-form input::placeholder {
    color: #999;
}

.login-form